[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
overpy = "*"
bpy-building-blocks = "*"
numpy = "*"
pyproj = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
